<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

  <form action="/resume/new" method="post">
    <div class="form-group">
      <label for="resume">포트폴리오 작성</label>
      <br>
      <textarea type="text" id="resume" name="bresume" cols="30" rows="10" placeholder="입력하세요" ></textarea>
<!--      name만 @PostMapping과 상관있다. name에 적힌 bresume는 ResumeForm.java에 있는 ResumeForm클래스의 getBresume 메소드에서 get을 제외하고 대문자를 소문자로 바꾼 것이다.-->
    </div>
    <button type="submit">등록</button>
  </form>

</div>

</body>
</html>