<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>resume</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="resume : ${resumes}">
        <td th:text="${resume.id}"></td>
        <td th:text="${resume.aresume}"></td>
<!--        .id와 .aresume는 Resume.java에 있는 Resume클래스의 getId와 getAresume 메소드에서 get을 빼고 대문자를 소문자로 바꾼것이다!-->
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>